  div.column {
    border: 1px solid #777;
  }
  
  div.column:hover {
    border: 1px solid #777;
  }
  
  div.column img {
    width: 100%;
    height: auto;
  }
  
  
  * {
    box-sizing: border-box;
  }
  
  .row {
    padding: 30 6px;
    float: left;
    /* width: 24.99999%; */
    margin-top: 70px;
  }
  
  @media only screen and (max-width: 700px) {
    .row {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .row {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /*header area*/
  @media (max-width: 1300px) {
  }
  @media (max-width: 1199px) {
  
  .header_area .navbar .tickets_btn {
          margin-left: 40px;
      }
  }
  
  @media (max-width: 991px) {
    .navbar-toggler {
          border: none;
          border-radius: 0px;
          padding: 0px;
          cursor: pointer;
          margin-top: 27px;
          margin-bottom: 23px;
      }
      .header_area {
          background: #222222;
      }
      .navbar-toggler[aria-expanded="false"] span:nth-child(2) {
          opacity: 1;
      }
      .navbar-toggler[aria-expanded="true"] span:nth-child(2) {
          opacity: 0;
      }
      .navbar-toggler[aria-expanded="true"] span:first-child {
          transform: rotate(-45deg);
          position: relative;
          top: 7.5px;
      }
      .navbar-toggler[aria-expanded="true"] span:last-child {
          transform: rotate(45deg);
          bottom: 6px;
          position: relative;
      }
      .navbar-toggler span {
          display: block;
          width: 25px;
          height: 3px;
          background: #fff;
          margin: auto;
          margin-bottom: 4px;
          transition: all 400ms linear;
          cursor: pointer;
      }
      .navbar .container {
          padding-left: 15px;
          padding-right: 15px;
      }
      .nav {
          padding: 0px 0px;
      }
      .header_area + section,
      .header_area + row,
      .header_area + div {
          margin-top: 117px;
      }
      .header_top .nav {
          padding: 0px;
      }
      .header_area .navbar .nav .nav-item .nav-link {
          line-height: 40px;
          margin-right: 0px;
          display: block;
          border-bottom: 1px solid #ededed33;
          border-radius: 0px;
      }
      .header_area .navbar .search {
          margin-left: 0px;
      }
      .header_area .navbar-collapse {
          max-height: 340px;
          overflow-y: scroll;
      }
      .header_area .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
          padding: 0px 15px;
      }
      .header_area .navbar .nav .nav-item {
          margin-right: 0px;
      }
      .header_area + section,
      .header_area + row,
      .header_area + div {
          margin-top: 71px;
      }
      .header_area.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
          line-height: 40px;
    }
  }